/*All the dimensions have been calculated relative to the viewport width so as to incorporate responsiveness in the website*/
/*Additional Stuff Done
    1. Added Animation to the background Image, Main Heading and Instructor Details.
    2. Added Footer for various contact and other details.
*/

body{
    margin:0px;
}
header {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 37vw;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    transform-style:preserve-3d;
}

/*For Animation of the Background Image*/
header:before{ 
    animation: fade-slide-down 2s .5s cubic-bezier(0,0.5,0,1) forwards;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(vnit.jpg),no-repeat bottom;
    background-size:cover;
    content:"";
    opacity: 0;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* Animation of Text*/
.animate-pop-in{
    animation: pop-in .8s cubic-bezier(0,0.9,0.3,1.2) forwards;
    opacity:0;
}

/*Main Heading Text*/
.heading p{
    color: white;
    font-size: calc(0.2em + 2.4vw);
    position:relative;
    font-family: "Roboto Slab", serif;
    font-weight: normal;
    text-align: center;
    animation-delay: 1.5s;
}

/*Sliding effect of the image*/
@keyframes fade-slide-down{
    0%{
        opacity:0;
        transform: translateY(-4em);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}
/*Poping Effect of the text*/
@keyframes pop-in{
    0%{
        opacity: 0;
        transform: translateY(-4em) scale(0.8);
    }
    100%{
        opacity: 1;
        transform:none;
    }
}

/*FlexBox for instructor Details*/
#inst{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

/*Instructor Image*/
.instructor{
    background-image: url(instructor_profile.jpg);
    height:7.4vw;
    width:7.4vw;
    background-position: center;
    background-size: cover;
    margin:-3.7vw;
    border: 0.08vw solid white;
    border-radius: 100%;
    animation-delay: 1s;
}

/*Instructor Details*/
.details{
    padding-top: 4vw;
    font-family: "'Source Sans Pro",sans-serif;
    line-height: calc(0.2rem + 1.4vw);
    font-size: calc(0.2rem + 1.05vw);
    color:rgb(51,51,51);
    text-align: center;
    border-bottom: 0.16vw solid #e6e6e6 ;
    animation-delay: 1.2s;
}

/*FlexBox for all 3 Lists*/
.flex-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:4.8vw;
    
}

/*FlexBox for individual Lab*/
.list-container{
    display:flex;
    flex-direction: row;
    /*background-color: darkgray;*/
    justify-content: center;
    align-items: flex-start;
    
    
}

/*FlexBox of Each section inside the List Content*/
.item-container{
    display:flex;
    flex-direction: column;
    width:66.67%;
    height:90%;
    justify-content: center;
    align-items: center;
    margin-bottom: 9.6vw; 
}

/*For Serial Number*/
.serial-number{
    width:4vw;
    /*background-color: darkseagreen;*/
    color: rgba(0, 0, 0, 0.25);
    font-size: calc(0.4rem + 2.2vw);
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    margin:0px;
}

/*Labname - List Heading*/
.lab-name{
    /*background-color:lightgoldenrodyellow;*/
    margin-bottom:1.6vw;
    width:100%;
    color: rgb(51, 51, 51);
    font-size: calc(0.4rem + 2.2vw);
    font-family: "Roboto Slab", serif;
    font-weight: bold;
}

/*Lab content - Details about lab*/
.lab-content{
    /*background-color:lightgoldenrodyellow;*/
    margin-bottom:1.6vw;
    width:100%;
    color: rgb(51, 51, 51);
    font-size: calc(0.2rem + 1.1vw);
    font-family: "Source Sans Pro", sans-serif;
    line-height:calc(0.2rem + 2vw);
    font-weight: normal;
}

/*Lab Recommendation Content*/
.lab-recom{
    /*background-color:lightgoldenrodyellow;*/
    margin-bottom:1.6vw;
    width:100%;
    color: rgb(51, 51, 51);
    font-size: calc(0.2rem + 1.1vw);
    font-family: "Source Sans Pro", sans-serif;
    line-height:calc(0.2rem + 2vw);
    font-weight: normal;
}

/*Location Details*/
.loc{
    display:block;
    color:#42b4d6;
    font-weight: normal;
    text-decoration-line: none;
}

/*Underline on Hover*/
.loc:hover{
    text-decoration-line: underline;
}

/*Lab Images*/
.image{
    height:90%;
    width: 100%;
}

.image img{
    position:relative;
    max-height:100%;
    max-width:100%;
}

/*Footer*/
footer {
    background-color:#022736;
    overflow: hidden;
}

footer .clubed{
    text-decoration: none;
    padding: 2.22vw;
    font-family:'Helvetica Neue', sans-serif;
    text-align: center;
    float: left;
    color: white;
}
footer .not-clubed{
    text-decoration: none;
    padding: 2.22vw;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    float: right;
    color: white;
}

.not-clubed:hover{
    text-decoration-line: underline;
}
.clubed:hover{
    text-decoration-line: underline;
}